@media screen and (min-width: 901px) {
  .combo {
    background-image: url(../../assets/top-bg.svg);
    background-repeat: no-repeat;
    background-position: calc(100%);
  }

  .top-main {
    display: flex;
    max-width: 100%;
    padding: 40px;
    justify-content: space-evenly;
    padding: 16rem 6rem;
  }

  .top-left {
    align-items: center;
    display: flex;
    padding-right: 10rem;
    max-width: 100%;
  }

  .top-title-main {
    margin: 0;
    padding: 0;
    color: #ffc801;
    font-family: "Roboto";
    font-size: 2.8vw;
    font-style: normal;
    font-weight: 600;
    line-height: 121.429%;
    letter-spacing: 0.38px;
  }

  .no-margin {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: "Rubik One";
    font-size: 4.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .yellow-text-top {
    color: var(--Base-Color-Primary, #ffc801);
    font-family: "Rubik One";
    font-size: 4.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .top-button {
    border-radius: 0.8vw;
    background: var(--Base-Color-Primary, #ffc801);
    color: black;
    width: fit-content;
    height: 3vw;
    padding: 0 2vw;
    font-size: large;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .top-image {
    transform: scale(1.3);
    max-width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .combo {
    background-image: url(../../assets/top-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(0%) 0%;
    position: relative;
    z-index: 1;
  }

  .top-main {
    display: flex;
    flex-direction: column-reverse;
    padding: 2vh 0;
    padding-bottom: 10vw;
  }

  .top-image {
    transform: scale(0.9);
    max-width: 100%;
  }

  .top-left {
    align-items: center;
    justify-content: center;
    display: flex;
    /* padding-right: 10rem; */
    max-width: 100%;
  }

  .top-title-main {
    margin: 0;
    padding: 0;
    color: #ffc801;
    font-family: "Roboto";
    font-size: 3vw;
    font-style: normal;
    font-weight: 600;
    line-height: 121.429%;
    letter-spacing: 0.38px;
  }

  .no-margin {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: "Rubik One";
    font-size: 7.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .yellow-text-top {
    color: var(--Base-Color-Primary, #ffc801);
    font-family: "Rubik One";
    font-size: 7.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .top-button {
    border-radius: 0.8vw;
    background: var(--Base-Color-Primary, #ffc801);
    color: black;
    width: fit-content;
    height: 3vh;
    font-size: 3vw;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}
