.navlinks {
    text-decoration: none;
    color: #ffffff;
    padding: 0 2.2vh;
    max-width: fit-content;
}

@media screen and (min-width: 901px) {
  .nav-main {
      opacity: 1;
      background: linear-gradient(
          180deg,
          rgba(255, 203, 16, 0.5) -240.96%,
          rgba(131, 131, 126, 0) 100%
      );
      display: flex;
      padding: 1vh 5vw;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 1;
  }
  
}

.nav-main {
      opacity: 1;
      display: flex;
      padding: 5vh 5vw;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 1;
  }

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.connects {
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.log-in {
    padding-left: 4vw;
}

.log-in-text {
    color: black;
    border-radius: 8px;
    background: var(--Base-Color-Primary, #ffc801);
    height: 42px;
    padding: 0 2vw;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Mobile Styles */
.hamburg {
    display: none; /* Hide on larger screens */
}

.hamburg-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hamburg-icon {
    width: 5vw;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 900px) {
    .links {
        display: none; /* Hide links on mobile */
    }

    .log-in-desk {
        display: none; /* Hide login on mobile */
    }

    .log-in {
      padding:0 5vw;
    }

    .log-in-text {
        color: black;
        border-radius: 8px;
        background: var(--Base-Color-Primary, #ffc801);
        height: 42px;
        flex-shrink: 0;
        justify-content: center;
        padding: 0 10vw;
        align-items: center;
        display: flex;
    }

    a {
        text-decoration: none;
        color: #ffffff;
        padding: 1vh 5vw;
        max-width: fit-content;
    }

    .hamburg {
        display: block; /* Show hamburger icon */
    }

    .mobile-menu {
        display: none; /* Hidden by default */
        position: absolute;
        top: 12vh; /* Adjust based on nav height */
        left: 0;
        right: 0;
        background-color: var(--Base-Color-BG-Color, #212429); /* Mobile menu background */
        padding: 20px;
        flex-direction: column;
        gap: 15px; /* Space between items */
        z-index: 10; /* Ensure menu is above other content */
        transform: translatex(-20px); /* Start slightly above */
        opacity: 0; /* Start hidden */
        transition: transform 0.3s ease, opacity 0.3s ease; /* Animation for transform and opacity */
    }

    .mobile-menu.show {
        display: flex; /* Show when active */
        transform: translatex(0); /* Slide into view */
        opacity: 1; /* Fade in */
    }
}
